<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>kittyChat</title>

	<link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/alvarotrigo/pagePiling.js/master/jquery.pagepiling.css">
	<link rel="stylesheet" type="text/css" href="./css/style.css">

</head>
<body>
	<div id="pagepiling">
		
		<div id="namesWrapper" class="section"> <!-- this is the username login section -->
			<div class="graphicContent">
				<div id="logo"><img src="./img/epl.png" alt="main logo"></div>
				<form id="usernameForm">
					<input id="username" placeholder="nickname">
					<input id="joinChat" type="submit" value="join chat">
				</form>
			</div>	
		</div> <!-- End of namesWrapper -->
	

		<div id="contentWrapper" class="section"> <!-- this will show when username has been selected -->
			
			<div class="secondContentWrapper">
			<div class="featureImage"></div>
			
				<div id="userWrapper"> <!-- this will be generated dynamically  -->
					<p>members in chat</p>
					<div id="users">	
					</div>
				</div>
				<div id="chatWrapper">
					<div id="chatWindow">
					</div>
					<form id="messageForm">
						<input id="message" placeholder="type a message..."> <!-- this is the message which is sent to server -->
						<input id="chatSend" type="submit" value="send">
					</form>
				</div>
			</div>	

		</div> <!-- end of main wrapper -->
	
	</div> <!-- end of main container -->


	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"></script>
	<script src="https://cdn.rawgit.com/alvarotrigo/pagePiling.js/master/jquery.pagepiling.min.js"></script>
	<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
	<script src="./index.js"></script>

<!-- 	<script type="text/javascript">
            $(document).ready(function() {
                $('#pagepiling').pagepiling({direction: 'horizontal'});
            });
    </script> -->


	
</body>
</html>









