@import url(https://fonts.googleapis.com/css?family=Roboto:400,900,300);

*{
	margin: 0;
	padding: 0;
}

body{
	font-family: 'Roboto', sans-serif;
}



/*-----------chat page--------------------*/
.featureImage{
	width: 100%;
	background: red;
	height: 300px;
	margin-bottom: 10px;
	border-radius: 5px;

}

#contentWrapper{
	background: #38003d;
	text-align: center;
	border: 3px red solid;
}
.secondContentWrapper{
	margin: auto;
	text-align: center;	
/*	border: 3px yellow solid;*/
	width: 65%;
}
#userWrapper{
	/*display: inline-block;*/
	float: left;
	/*border: 3px red solid;*/
	border-radius: 5px;
	background: #9CCFE6;
	height: 170px;
	width: 171px;
	margin-right: 10px;

}

#chatWrapper{
	float: left;
/*	border: 3px blue solid;
*/	border-radius: 5px;
	background: #9CCFE6;
	padding: 10px;
	width: 625px;
	height: 150px;


}

#chatWindow{
	height: 100px;
	background: #D8E3E6;
	width: 625px;

}



input{
	height: 40px;
}

/*-----------------------------------------*/


#namesWrapper{
	background: #ff015b;
	/*background: url('../img/bg.jpeg');
	background-size: cover;*/

}

.graphicContent{
	margin: 0 auto;
	width: 750px;
	text-align: center;
}

#username{
	width: 350px;
	height: 48px;
	border-radius: 5px; /*dont forget to add vendor prefixes*/
	border: 0px solid;
	margin-top: 60px;
	margin-left: 10px;

	color: #434343;
	font-weight: 900;
	font-size: 15px;
	text-align: center;
}

input:focus {
    outline:none;
}

#joinChat{
	width: 150px;
	height: 50px;
	border-radius: 5px; /*dont forget to add vendor prefixes*/
	border: 1px solid white;
	background: none;
	margin-top: 60px;
	margin-left: 5px;
	color: white;
	font-weight: 900;
	font-size: 15px;
}
#joinChat:hover{
	background: #DA004D;

}


#logo img{
	display: inline-block;
	float: left;
	width: 225px;
}
#usernameForm{
	display: inline-block;
	float: left;
}

